body{
	background: url('images/dotted_bg2.png');
	background-position: center 0;
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: contain;
}

a{color:$purple!important;}

.video_block{
	.video_description{
		background-color: $purple!important;
		color:$white!important;
		font-family: 'mrs_lollipopregular'!important;
		font-size: 1.65em!important;
		line-height:3.4!important;
		border-bottom-right-radius: 2.0em;
		border-bottom-left-radius: 2.0em;
		@media (max-width: 767px){
			line-height: 1.5!important;
			font-size: 1.25em!important;
			padding: 0.5em!important;
		}
	}

}
.video_col{
	max-width: 1200px!important;
	margin: 0 auto;
	width:100%!important;
}

.e6-6.x-container {
    margin: 0em auto 0em auto;
    background-color: transparent;
    z-index: 1;
    max-width: 1200px!important;
}

.e6-9.x-frame {
    padding-top: 2.0em!important;
    padding-right: 1.8em!important;
    padding-left: 1.8em!important;
    font-size: 16px!important;
    background-color: transparent!important;
    @media (max-width: 767px){
    	padding-top: 0em!important;
	    padding-right: 0em!important;
	    padding-left: 0em!important;
    }
}

.e6-36.x-anchor .x-anchor-text-primary, .e6-34.x-text {
    color: $dk_purple!important;
    &:hover{
    	color:$white!important;
    }
}
#footerish{
	padding: 1.5em 0;
}

#rev_slider_3_2_wrapper {
	webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	overflow: hidden!important; 
	-webkit-box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.53);
	-moz-box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.53);
	box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.53);
}